<ol class="breadcrumb">
  <li class="active">About Us</li>
</ol>

<br>
<br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to Blazebit</h3>
  </div>
  <div class="panel-body">
    <p>
      You like the walking? Dude! Bro! We like the walking too!
      <br>
      <br> We are your go-to tracker for all of your hiking information. Whether you're a die-hard hiker or a complete newbie,
      we'll give your data a home so you can look over your recent activity and give that back of yours a nice ol' patty-maroo.
      <br>
      <br> Enjoy!
    </p>
  </div>
</div>
